body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    min-height: 100vh;
}

.black-bar {
    width: 60px; /* Increased width for thicker bars */
    background-color: black;
}

.left {
    height: 100vh;
}

.right {
    height: 100vh;
}

.gray-bar {
    background-color: gray;
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.captcha-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#captcha-image {
    max-width: 100%;
}

button {
    margin-top: 10px;
}

.prediction-box {
    margin-bottom: 20px;
}

.base64-box {
    font-family: monospace;
    white-space: pre-wrap;
	max-width: 800px;
    max-height: 200px; /* Limit vertical height */
    /*overflow-y: auto; /* Add scrollbar if content overflows */
    width: 80%; /* Increase horizontal width */
}

.base64-text {
    white-space: pre-wrap;
    word-break: break-all;
    max-width: 100%;
}