body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.captcha-container {
    text-align: center;
    margin-top: 50px;
}

.captcha-container img {
    max-width: 100%;
    height: auto;
}

#predict-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.prediction-box {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

#base64-data {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
}

#result-container {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

